.form-range {
    margin-top: 10px;
}

.form-range::-webkit-slider-thumb {
    height: 35px !important;
    width: 35px !important;
    margin-top: -12px !important;
    background-color: $secondary-color !important;
}

.form-range::-moz-slider-thumb {
    height: 35px !important;
    width: 35px !important;
    margin-top: -12px !important;
    background-color: $secondary-color !important;
}