.form-range::-webkit-slider-thumb {
    height: 25px !important;
    width: 25px !important;
    margin-top: -7px !important;
    background-color: $secondary-color !important;
}

.form-range::-moz-slider-thumb {
    height: 25px !important;
    width: 25px !important;
    margin-top: -7px !important;
    background-color: $secondary-color !important;
}