/**
 * ------------------
 *   Root Variables
 * ------------------
 **/

$font-stack: -apple-system, BlinkMacSystemFont, "Open Sans", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$background-color: #1F2833;
$highlight-color: #58E6DD;

$border-radius: 5px;

/**
 * ------------------
 *       Fonts
 * ------------------
 **/

html {
    font-family: $font-stack;
}

/**
 * ------------------
 *       Colors
 * ------------------
 **/

body {
    background-color: $background-color;
    color: white;
}

a {
    color: $highlight-color;
}

/**
 * ------------------
 *    Page Elements
 * ------------------
 **/

html,
body {
    margin : 0;
    padding : 0;
    height: 100%;
	width : 100%;
}

main {
	height : 90vh;
	width : 100%;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5vh;
    width: 100%;
}

/**
 * ------------------
 *     Containers
 * ------------------
 **/

.flex-col {
	display : flex;
	flex-direction : column;
}

.flex-row {
	display : flex;
	flex-direction : row;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
}

.flex-col > * {
    padding: 5px;
}

.flex-row > * {
    padding: 5px;
}
  
.row-item {
    &:not(:first-child) {
        margin-left: 15px;
    }
}

.full-height {
    height: 100%;
}

.card {
    background-color: rgb(59, 58, 58);
    padding: 5px;
    border: 2px solid rgb(73, 72, 72);
    border-radius: $border-radius;
}

.card .card-image {
    height: 2.2em;
}

.card .card-content {
    align-self: center;
}