/**
 * ------------------
 *   Root Variables
 * ------------------
 **/

$root-font-family: -apple-system, BlinkMacSystemFont, "Open Sans", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$site-font-size: calc(15px + 0.390625vw);
$h1-font-size: 200%;
$h2-font-size: 160%;

$primary-color: #1F2833;
$secondary-color: #58E6DD;
$tertiary-color: #FFF;

$card-border-radius: 12px;
$code-border-radius: 12px;
